

DrumKitWIdget QLabel {
	color: #666;
	font-size: 10pt;
	margin-left: 8px;
}

DrumKitWIdget TitleFrame {
}

DrumKitWIdget GroupFrame {
}

DrumKitWIdget GroupButton {
	font-weight: bold;
	font-size: 10pt;
}

DrumKitWIdget InstrumentButton {
	font-size: 8.5pt;
}


