

DrumKitWidget QLabel {
	color: #666;
	font-size: 10pt;
	margin-left: 8px;
}

DrumKitWidget TitleFrame {
}

DrumKitWidget GroupFrame {
}

DrumKitWidget GroupButton {
	font-weight: bold;
	font-size: 10pt;
}

DrumKitWidget InstrumentButton {
	font-size: 8.5pt;
}


