

DrumWidget QLabel {
	color: #666;
	font-size: 10pt;
	margin-left: 8px;
}

DrumWidget TitleFrame {
}

DrumWidget GroupFrame {
}

DrumWidget GroupButton {
	font-weight: bold;
	font-size: 10pt;
}

DrumWidget InstrumentButton {
	font-size: 8.5pt;
}


